@charset "utf-8";

body {
    background-color: #54626B;
    overflow: hidden;
}

.box {
    visibility: hidden;
}

@media only screen and (max-width: 640px) {
    body {
        background: url('../images/main_m_bg.png') no-repeat center center fixed;
        background-size: cover;
        overflow: auto;
    }

    .box {
        background-color: #54626B;
        padding: 3vw;
        visibility: visible;
        width: 100%;
        text-align: center;
        margin-top: 70vh;
    }
    
    .box > img {
        width: 60vw;
        margin: 1vw;
    }

    .box #startBtn {
        width: 10vw;
        margin: 2vw;
    }
}