@charset "utf-8";

@keyframes slide {
    0%, 100% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
}

body {
    background-color: #54626B;
    overflow: hidden;
}

.box {
    visibility: hidden;
}

@media only screen and (max-width: 640px) {
    body {
        background: url('../images/index_m/bg.gif') no-repeat center center fixed;
        background-size: cover;
        overflow: auto;
    }

    .box {
        background-color: #54626B;
        padding: 3vw;
        visibility: visible;
        width: 100%;
        text-align: center;
        margin-top: 70vh;
    }
    
    .box > img {
        width: 60vw;
        margin: 1vw;
    }

    .box #startBtn {
        animation: slide 1s ease-in-out infinite;
        width: 10vw;
        margin: 2vw;
    }
}