.bg {
    background-image: url(../images/song/bg.jpg);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.q {
    font-size: 46px;
    position: absolute;
    top: 22%;
    right: 4%;
    height: 194px;
    width: 903px;
    display: flex;
    align-items: center;
    background-color: hsla(0,0%,100%,0.4);
    border-radius: 23px;
}