@charset "utf-8";

body {
    background-color: #54626B;
    overflow: hidden;
}

div {
    visibility: hidden;
}

@media only screen and (max-width: 640px) {
    body {
        background: url('../images/song/bg.jpg') no-repeat center center fixed;
        background-size: cover;
        text-align: center;
    }

    div {
        visibility: visible;
    }

    #bg {
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 100%;
        z-index: -10;
        position: absolute;
        visibility: hidden;
    }

    #ask {
        background-color: rgba(125, 139, 148, 0.8);
        border-radius: 1vw;
        padding: 1vw;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vh;
    }

    #ask img {
        width: 70vw;
    }

    .foo {
        margin-top: 8vh;
    }

    .fooDiv {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.7);
        width: 36vw;
        margin: 1vw;
        border-radius: 1.5vw;
    }

    .fooDiv:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .foo img {
        padding: 2vw;
        height: 10vh;
        max-width: 34vw;
    }

    .box {
        margin-top: -15vh;
        width: 100%;
        position: fixed;
        z-index: -30;
    }
    
    .box img {
        width: 40vw;
    }

    .box img:not(:first-child) {
        margin-left: -22vw;
    }

    .box img:hover {
        filter: contrast(120%) drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
    }
}